
@{
    ViewBag.Title = "Index";
}

<h1 class="display-1 text-left text-md-left" style="margin-top: 100px">Witaj   @HttpContext.Current.User.Identity.Name w YourHotels!</h1>
<h2 class="display-4 text-left text-md-left">Potrzebujesz noclegu na już?</h2>
<p class="lead" style="font-weight: bold">Doskonale trafiłeś u nas zrobisz to w 5 minut!</p>
<p class="text-muted" style="font-weight: bold">Aby zarezerwować nocleg wystarczy się zalogować.</p>
@Html.ActionLink("Zaloguj się", "Zaloguj", "Zaloguj", new object { }, new { @class = "btn btn-info" })
@Html.ActionLink("Zarejestruj się", "Rejestracja", "Rejestracja", new object { }, new { @class = "btn btn-info" })

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
