
@{
    ViewBag.Title = "Onas";
}

<h1 class="display-1 text-left text-md-left" style="margin-top: 100px">Kim jesteśmy?</h1>
<h2 class="display-4 text-left text-md-left">Zespół projektowy.</h2>
<p class="text-muted" style="font-weight:bold">Jesteśmy zespołem projektowym stworzonym dla projektu zaliczeniowego z przedmiotu "Szkolenie techniczne 3". W skład zespołu wchodzą Karol Dec oraz Patryk Kowal. Tematem naszego projektu jest strona dzięki, której będziemy mieć możliwość rezerwacji hotelu.</p>

